.container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.search-section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.profile-section, .repos-section {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
}

.avatar-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

button {
    margin-left: 20px;
}

ul {
    list-style: none;
}

label {
    margin-right: 10px;
}

.repos-section {
    height: 400px; /* or whatever height you prefer */
    overflow-y: auto; /* this will make it scrollable if there are more than 5 repos */
}

.repo {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
